.bundle
Gemfile.lock
node_modules

# Main Ignores
.gitconfig.user

# Emacs Ignores
emacs/.emacs.d/.cask
emacs/.emacs.d/bookmarks
emacs/.emacs.d/projectile-bookmarks.eld
emacs/.emacs.d/recentf
emacs/.emacs.d/smex-items
emacs/.emacs.d/ido.last
