# Set Title
function set-title {
  case $TERM in
    (tmux|screen)*)
      if [ -n "$TMUX" ]; then
        tmux rename-window -t${TMUX_PANE} $*
      else
        printf "\ek$*\e\\"
      fi
      ;;
    (alacritty|xterm|cygwin)*)
      printf "\033]0;$*\007"
      ;;
  esac
}
